---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<footer class:list={['footer', className]}>
  <span
    >DSS Docs - Design System Starter Docs <br />
     © <a href="https://github.com/XOP">XOP</a> 2023 - {new Date().getFullYear()}</span
  >
</footer>

<style>
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    padding: var(--awsm-space-6) var(--awsm-space-8);

    text-align: center;
    color: var(--awsm-color-content-subtle);
    line-height: var(--awsm-line-height-relaxed);
    background: var(--awsm-color-background-subtle);
  }

  @media screen and (max-width: 480px) {
    .footer {
      padding: var(--awsm-space-6) var(--awsm-space-4);
    }
  }

  .footer a {
    color: var(--awsm-color-content-strong);
    text-decoration: none;
  }

  @media (hover: hover) {
    .footer a:hover {
      text-decoration: underline;
    }
  }
</style>
