---
import type { ReactNode } from 'react';

interface Props {
  className?: string;
  data: Array<{ slug: string; title: string; description: ReactNode }>;
}

const { data, className } = Astro.props;
---

<nav class:list={['nav', className]}>
  {
    data.map((entry) => {
      return (
        <a href={entry.slug} title={entry.title}>
          <h3>{entry.title}</h3>
          <div>{entry.description}</div>
        </a>
      );
    })
  }
</nav>

<style>
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--awsm-space-8);
    margin-block-start: var(--awsm-space-8);
  }

  @media screen and (max-width: 780px) {
    .nav {
      grid-template-columns: auto;
    }
  }

  .nav h3 {
    margin: 0;
    margin-block-end: var(--awsm-space-2);

    text-transform: uppercase;
  }

  .nav a {
    display: block;
    padding: var(--awsm-space-6);
    color: var(--awsm-color-neutral-muted);
    border: var(--awsm-space-1) solid var(--awsm-color-accent-accent);
    background: var(--awsm-color-neutral-surface);
    font-size: var(--awsm-font-size-n);
    text-decoration: none;
    text-align: center;
  }

  @media (hover: hover) {
    .nav a:hover {
      background: var(--awsm-color-neutral-soft);
    }
  }

  .nav a.active {
    background: var(--awsm-color-neutral-soft);
  }
</style>
