---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<a class:list={['logo', className]} href="/" title="DSS Docs">DSS</a>

<style>
  .logo {
    max-width: min-content;
    font-size: var(--awsm-font-size-xxl);
    font-weight: bold;
    color: var(--awsm-color-accent-accent);
    text-decoration: none;
  }
</style>
