---
interface Props {
  data: Array<{ slug: string; title: string }>;
}

const { data } = Astro.props;
---

<nav class="nav">
  {
    data.map((entry) => {
      return (
        <a href={entry.slug} title={entry.title}>
          {entry.title}
        </a>
      );
    })
  }
</nav>

<style>
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--awsm-space-8);
    margin-block-start: var(--awsm-space-8);
  }

  @media screen and (max-width: 780px) {
    .nav {
      grid-template-columns: auto;
    }
  }

  .nav a {
    display: block;
    padding: var(--awsm-space-6);
    color: var(--awsm-color-neutral-muted);
    border: var(--awsm-space-1) solid var(--awsm-color-neutral-base);
    background: var(--awsm-color-neutral-surface);
    font-size: var(--awsm-font-size-n);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }

  @media (hover: hover) {
    .nav a:hover {
      background: var(--awsm-color-neutral-soft);
    }
  }

  .nav a.active {
    background: var(--awsm-color-neutral-soft);
  }
</style>
