---
import { NAVIGATION } from '../shared/globals';

import ThemeToggle from '../client/ThemeToggle/ThemeToggle';
import type { loadRenderers } from 'astro:container';

const currentSlug = Astro.url.pathname.split('/')[1];
---

<nav class="nav">
  {
    NAVIGATION.map((entry) => {
      return (
        <a
          class:list={{ active: currentSlug === entry.slug }}
          href={`/${entry.slug}`}
          title={entry.title}
        >
          {entry.title}
        </a>
      );
    })
  }
  <ThemeToggle className="theme" client:load />
</nav>

<style>
  .nav {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--awsm-space-8);

    align-items: center;
  }

  @media screen and (max-width: 380px) {
    .nav {
      overflow-x: auto;
    }
  }

  .theme {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .nav a {
    padding-block: var(--awsm-space-1);
    color: var(--awsm-color-accent-muted);
    text-decoration: none;
    text-wrap: nowrap;
    border-block-end: var(--awsm-space-1) solid transparent;
  }

  @media (hover: hover) {
    .nav a:hover {
      color: var(--awsm-color-accent-content);
      border-color: var(--awsm-color-accent-base);
    }
  }

  .nav a.active {
    color: var(--awsm-color-accent-gamma-900);
    border-color: var(--awsm-color-accent-base);
    cursor: default;
  }
</style>
