.root {
  appearance: none;
  padding: var(--awsm-space-2) var(--awsm-space-4);
  border: var(--awsm-space-05) solid transparent;
  border-radius: var(--awsm-radius-n);
  background-color: var(--awsm-color-neutral-surface);
  font-family: var(--awsm-font-family-main), var(--awsm-font-family-fallback);
  font-size: var(--awsm-font-size-s);
  line-height: var(--awsm-line-height-tight);
  color: var(--awsm-color-content-regular);
  transition: background-color ease-out var(--awsm-duration-instant);
  cursor: pointer;
}

@media (hover: hover) {
  .root:hover {
    background-color: var(--awsm-color-neutral-soft);
    color: var(--awsm-color-content-strong);
  }
}
