.root {
  position: absolute;
  bottom: calc(10% + var(--awsm-space-8) * 4.5);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: flex;
  flex-direction: row;
  gap: var(--awsm-space-8);
  align-items: center;
  justify-content: center;

  padding: var(--awsm-space-4);
  padding-inline: var(--awsm-space-8);
  border-radius: var(--awsm-radius-pill);
  border: var(--awsm-space-1) solid var(--awsm-color-accent-soft);
  background-color: var(--awsm-color-background-muted);
  box-shadow: 0 calc(-1 * var(--awsm-space-1)) 0 var(--awsm-space-1)
    var(--awsm-color-accent-alpha-500), var(--awsm-shadow-small);
}

.icon {
  display: inline-block;
  height: 100%;
  mask-size: cover;
  background-color: currentColor;
}

.icon > img {
  height: 100%;
  visibility: hidden;
}
