---
import type { CollectionKey } from "astro:content";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";

interface Props {
  title: string;
  section?: CollectionKey;
  showNav?: boolean;
}

const { title, section, showNav = true } = Astro.props;
const isIndex = Astro.url.pathname === "/";

import "@csstools/normalize.css/normalize.css";
import "@awsm/tokens/css/tokens.css";
import "@awsm/fonts/css/fonts.css";

import "../assets/css/index.css";
---

<!DOCTYPE html>
<html lang="en" data-awsm="nebula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="AWSM DSSD - Design System Starter Docs" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <title>{title}</title>
  </head>
  <body>
    <div class="page">
      <Header class="header" />

      <div class="wrap">
        {showNav && !isIndex && <Sidebar class="side" section={section} />}

        <main class="main">
          <div class={`content${isIndex ? ' __index' : ''}`}>
            <slot />
          </div>

          <Footer class="footer" />
        </main>
      </div>
    </div>
  </body>
</html>

<style>
  .page {
    display: flex;
    flex-flow: column nowrap;

    flex: 1 1 auto;

    position: relative;
    box-sizing: border-box;

    width: 100%;
  }

  .header,
  .footer {
    flex: 0 1 auto;
  }

  .wrap {
    display: flex;
    flex-flow: row nowrap;

    position: relative;
    z-index: 1;

    flex: 1 1 auto;
    box-sizing: border-box;

    width: 100%;
  }

  .main {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;

    width: 100%;
    background: var(--awsm-color-background-regular);
  }

  .content {
    box-sizing: border-box;
    flex: 1 0 auto;
    width: 100%;
    max-width: 90ch;
    padding: var(--awsm-space-10) var(--awsm-space-16);
  }

  .content.__index {
    margin: 0 auto;
  }

  @media screen and (max-width: 1280px) {
    .content {
      padding: var(--awsm-space-6) var(--awsm-space-8);
    }

    .content:not(.__index) {
      max-width: none;
    }
  }

  @media screen and (max-width: 780px) {
    .content {
      padding: var(--awsm-space-6) var(--awsm-space-8)
    }
  }

  @media screen and (max-width: 480px) {
    .content {
      padding: var(--awsm-space-4);
    }
  }

  .side {
    flex: 0 1 auto;
  }
</style>
