---
import Layout from '../layouts/Layout.astro';
import IntroNav from '../components/IntroNav.astro';
import Content from '../components/Content.astro';

import { NAVIGATION, NAVIGATION_KEYS } from '../shared/globals';

const descriptionMap = {
  [NAVIGATION_KEYS.core]:
    'Core visual elements that stitch together seamless user experiences',
  [NAVIGATION_KEYS.patterns]:
    'Recurring solutions that address common design problems',
  [NAVIGATION_KEYS.components]:
    'Reusable building blocks and utilities of our design system',
};

const entries = NAVIGATION.map((item) => {
  return {
    slug: `/${item.slug}`,
    title: item.title,
    description: descriptionMap[item.slug],
  };
});
---

<Layout title="Welcome to DSS Docs" showNav={false}>
  <Content>
    <h2>Welcome to DSS Docs!</h2>
    <p class="intro">
      DSS Docs Application is the part of the{' '}
      <a
        href="https://github.com/XOP/design-system-starter"
        title="Design System Starter (DSS) Template"
      >
        Design System Starter (DSS) Template
      </a>{' '}
      family.
    </p>

    <div class="about">
      <section>
        <h3>Explore parts of DSS</h3>
        <ul>
          <li>
            <a
              href="https://ds-starter-storybook.vercel.app/"
              title="DSS Storybook"
            >
              DSS Storybook
            </a>
          </li>
          <li>
            <a
              href="https://ds-starter-docs.vercel.app/"
              title="DSS Documentation Website"
            >
              DSS Docs Website
            </a>
          </li>
          <li>
            <a
              href="https://ds-starter-app-vite.vercel.app/"
              title="DSS Example Application"
            >
              DSS Example Application
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h3>NPM packages</h3>
        <ul>
          <li>
            <a
              href="https://www.npmjs.com/package/@ds-starter/fonts"
              title="@ds-starter/fonts"
            >
              @ds-starter/fonts
            </a>
          </li>
          <li>
            <a
              href="https://www.npmjs.com/package/@ds-starter/icons"
              title="@ds-starter/icons"
            >
              @ds-starter/icons
            </a>
          </li>
          <li>
            <a
              href="https://www.npmjs.com/package/@ds-starter/tokens"
              title="@ds-starter/tokens"
            >
              @ds-starter/tokens
            </a>
          </li>
          <li>
            <a
              href="https://www.npmjs.com/package/@ds-starter/ui"
              title="@ds-starter/ui"
            >
              @ds-starter/ui
            </a>
          </li>
          <li>
            <a
              href="https://www.npmjs.com/package/@ds-starter/tsconfig"
              title="@ds-starter/tsconfig"
            >
              @ds-starter/tsconfig
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h3>Github</h3>
        <ul>
          <li>
            <a
              href="https://github.com/XOP/design-system-starter"
              title="DSS Monorepo"
            >
              DSS Monorepo
            </a>
          </li>
        </ul>
      </section>
    </div>
  </Content>

  <IntroNav data={entries} />
</Layout>

<style>
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--awsm-space-8);
    margin-block-start: var(--awsm-space-8);
  }

  @media screen and (max-width: 780px) {
    .about {
      grid-template-columns: auto;
    }
  }

  .about h3 {
    margin: 0;
    margin-block-end: var(--awsm-space-2);

    text-transform: uppercase;
    color: var(--awsm-color-content-subtle);
  }

  .intro a,
  .about a {
    color: var(--awsm-color-accent-accent);
  }

  @media (hover: hover) {
    .intro a:hover,
    .about a:hover {
      color: var(--awsm-color-content-strong);
    }
  }
</style>
