:root[data-theme="light"], [data-theme="light"] {
  --awsm-color-neutral-backdrop: rgb(236, 237, 237);
  --awsm-color-neutral-surface: rgb(207, 209, 211);
  --awsm-color-neutral-soft: rgb(179, 184, 187);
  --awsm-color-neutral-border: rgb(150, 156, 160);
  --awsm-color-neutral-tone: rgb(125, 131, 135);
  --awsm-color-neutral-strong: rgb(108, 113, 116);
  --awsm-color-neutral-base: rgb(91, 96, 98);
  --awsm-color-neutral-accent: rgb(79, 83, 85);
  --awsm-color-neutral-subtle: rgb(63, 67, 70);
  --awsm-color-neutral-muted: rgb(45, 47, 49);
  --awsm-color-neutral-content: rgb(24, 26, 27);
  --awsm-color-neutral-contrast: rgb(255, 255, 255);
  --awsm-color-neutral-gamma-50: rgb(236, 237, 237);
  --awsm-color-neutral-gamma-100: rgb(207, 209, 211);
  --awsm-color-neutral-gamma-200: rgb(179, 184, 187);
  --awsm-color-neutral-gamma-300: rgb(150, 156, 160);
  --awsm-color-neutral-gamma-400: rgb(125, 131, 135);
  --awsm-color-neutral-gamma-500: rgb(108, 113, 116);
  --awsm-color-neutral-gamma-600: rgb(91, 96, 98);
  --awsm-color-neutral-gamma-700: rgb(79, 83, 85);
  --awsm-color-neutral-gamma-800: rgb(63, 67, 70);
  --awsm-color-neutral-gamma-900: rgb(45, 47, 49);
  --awsm-color-neutral-gamma-950: rgb(24, 26, 27);
  --awsm-color-neutral-alpha-50: rgba(102, 96, 93, 0.04);
  --awsm-color-neutral-alpha-100: rgba(102, 96, 93, 0.06);
  --awsm-color-neutral-alpha-200: rgba(102, 96, 93, 0.08);
  --awsm-color-neutral-alpha-300: rgba(102, 96, 93, 0.12);
  --awsm-color-neutral-alpha-400: rgba(102, 96, 93, 0.16);
  --awsm-color-neutral-alpha-500: rgba(102, 96, 93, 0.24);
  --awsm-color-neutral-alpha-600: rgba(102, 96, 93, 0.36);
  --awsm-color-neutral-alpha-700: rgba(102, 96, 93, 0.48);
  --awsm-color-neutral-alpha-800: rgba(102, 96, 93, 0.64);
  --awsm-color-neutral-alpha-900: rgba(102, 96, 93, 0.8);
  --awsm-color-neutral-alpha-950: rgba(102, 96, 93, 0.92);
  --awsm-color-accent-backdrop: rgb(230, 237, 249);
  --awsm-color-accent-surface: rgb(190, 210, 244);
  --awsm-color-accent-soft: rgb(150, 185, 241);
  --awsm-color-accent-border: rgb(104, 155, 237);
  --awsm-color-accent-tone: rgb(58, 126, 232);
  --awsm-color-accent-strong: rgb(18, 103, 228);
  --awsm-color-accent-base: rgb(12, 87, 195);
  --awsm-color-accent-accent: rgb(10, 76, 170);
  --awsm-color-accent-subtle: rgb(6, 61, 139);
  --awsm-color-accent-muted: rgb(3, 44, 100);
  --awsm-color-accent-content: rgb(1, 24, 59);
  --awsm-color-accent-contrast: rgb(255, 255, 255);
  --awsm-color-accent-gamma-50: rgb(230, 237, 249);
  --awsm-color-accent-gamma-100: rgb(190, 210, 244);
  --awsm-color-accent-gamma-200: rgb(150, 185, 241);
  --awsm-color-accent-gamma-300: rgb(104, 155, 237);
  --awsm-color-accent-gamma-400: rgb(58, 126, 232);
  --awsm-color-accent-gamma-500: rgb(18, 103, 228);
  --awsm-color-accent-gamma-600: rgb(12, 87, 195);
  --awsm-color-accent-gamma-700: rgb(10, 76, 170);
  --awsm-color-accent-gamma-800: rgb(6, 61, 139);
  --awsm-color-accent-gamma-900: rgb(3, 44, 100);
  --awsm-color-accent-gamma-950: rgb(1, 24, 59);
  --awsm-color-accent-alpha-50: rgba(0, 90, 201, 0.04);
  --awsm-color-accent-alpha-100: rgba(0, 90, 201, 0.06);
  --awsm-color-accent-alpha-200: rgba(0, 90, 201, 0.08);
  --awsm-color-accent-alpha-300: rgba(0, 90, 201, 0.12);
  --awsm-color-accent-alpha-400: rgba(0, 90, 201, 0.16);
  --awsm-color-accent-alpha-500: rgba(0, 90, 201, 0.24);
  --awsm-color-accent-alpha-600: rgba(0, 90, 201, 0.36);
  --awsm-color-accent-alpha-700: rgba(0, 90, 201, 0.48);
  --awsm-color-accent-alpha-800: rgba(0, 90, 201, 0.64);
  --awsm-color-accent-alpha-900: rgba(0, 90, 201, 0.8);
  --awsm-color-accent-alpha-950: rgba(0, 90, 201, 0.92);
  --awsm-color-safe-backdrop: rgb(212, 248, 215);
  --awsm-color-safe-surface: rgb(91, 244, 125);
  --awsm-color-safe-soft: rgb(30, 219, 92);
  --awsm-color-safe-border: rgb(15, 186, 75);
  --awsm-color-safe-tone: rgb(11, 156, 62);
  --awsm-color-safe-strong: rgb(8, 135, 53);
  --awsm-color-safe-base: rgb(5, 115, 44);
  --awsm-color-safe-accent: rgb(4, 100, 37);
  --awsm-color-safe-subtle: rgb(2, 81, 28);
  --awsm-color-safe-muted: rgb(1, 58, 17);
  --awsm-color-safe-content: rgb(1, 33, 7);
  --awsm-color-safe-contrast: rgb(255, 255, 255);
  --awsm-color-safe-gamma-50: rgb(212, 248, 215);
  --awsm-color-safe-gamma-100: rgb(91, 244, 125);
  --awsm-color-safe-gamma-200: rgb(30, 219, 92);
  --awsm-color-safe-gamma-300: rgb(15, 186, 75);
  --awsm-color-safe-gamma-400: rgb(11, 156, 62);
  --awsm-color-safe-gamma-500: rgb(8, 135, 53);
  --awsm-color-safe-gamma-600: rgb(5, 115, 44);
  --awsm-color-safe-gamma-700: rgb(4, 100, 37);
  --awsm-color-safe-gamma-800: rgb(2, 81, 28);
  --awsm-color-safe-gamma-900: rgb(1, 58, 17);
  --awsm-color-safe-gamma-950: rgb(1, 33, 7);
  --awsm-color-safe-alpha-50: rgba(17, 118, 45, 0.04);
  --awsm-color-safe-alpha-100: rgba(17, 118, 45, 0.06);
  --awsm-color-safe-alpha-200: rgba(17, 118, 45, 0.08);
  --awsm-color-safe-alpha-300: rgba(17, 118, 45, 0.12);
  --awsm-color-safe-alpha-400: rgba(17, 118, 45, 0.16);
  --awsm-color-safe-alpha-500: rgba(17, 118, 45, 0.24);
  --awsm-color-safe-alpha-600: rgba(17, 118, 45, 0.36);
  --awsm-color-safe-alpha-700: rgba(17, 118, 45, 0.48);
  --awsm-color-safe-alpha-800: rgba(17, 118, 45, 0.64);
  --awsm-color-safe-alpha-900: rgba(17, 118, 45, 0.8);
  --awsm-color-safe-alpha-950: rgba(17, 118, 45, 0.92);
  --awsm-color-info-backdrop: rgb(227, 239, 248);
  --awsm-color-info-surface: rgb(178, 214, 243);
  --awsm-color-info-soft: rgb(125, 191, 241);
  --awsm-color-info-border: rgb(54, 164, 236);
  --awsm-color-info-tone: rgb(17, 137, 205);
  --awsm-color-info-strong: rgb(14, 119, 178);
  --awsm-color-info-base: rgb(10, 101, 152);
  --awsm-color-info-accent: rgb(7, 88, 133);
  --awsm-color-info-subtle: rgb(5, 71, 108);
  --awsm-color-info-muted: rgb(3, 50, 80);
  --awsm-color-info-content: rgb(1, 27, 47);
  --awsm-color-info-contrast: rgb(255, 255, 255);
  --awsm-color-info-gamma-50: rgb(227, 239, 248);
  --awsm-color-info-gamma-100: rgb(178, 214, 243);
  --awsm-color-info-gamma-200: rgb(125, 191, 241);
  --awsm-color-info-gamma-300: rgb(54, 164, 236);
  --awsm-color-info-gamma-400: rgb(17, 137, 205);
  --awsm-color-info-gamma-500: rgb(14, 119, 178);
  --awsm-color-info-gamma-600: rgb(10, 101, 152);
  --awsm-color-info-gamma-700: rgb(7, 88, 133);
  --awsm-color-info-gamma-800: rgb(5, 71, 108);
  --awsm-color-info-gamma-900: rgb(3, 50, 80);
  --awsm-color-info-gamma-950: rgb(1, 27, 47);
  --awsm-color-info-alpha-50: rgba(24, 103, 152, 0.04);
  --awsm-color-info-alpha-100: rgba(24, 103, 152, 0.06);
  --awsm-color-info-alpha-200: rgba(24, 103, 152, 0.08);
  --awsm-color-info-alpha-300: rgba(24, 103, 152, 0.12);
  --awsm-color-info-alpha-400: rgba(24, 103, 152, 0.16);
  --awsm-color-info-alpha-500: rgba(24, 103, 152, 0.24);
  --awsm-color-info-alpha-600: rgba(24, 103, 152, 0.36);
  --awsm-color-info-alpha-700: rgba(24, 103, 152, 0.48);
  --awsm-color-info-alpha-800: rgba(24, 103, 152, 0.64);
  --awsm-color-info-alpha-900: rgba(24, 103, 152, 0.8);
  --awsm-color-info-alpha-950: rgba(24, 103, 152, 0.92);
  --awsm-color-warning-backdrop: rgb(252, 233, 216);
  --awsm-color-warning-surface: rgb(254, 196, 136);
  --awsm-color-warning-soft: rgb(253, 159, 31);
  --awsm-color-warning-border: rgb(216, 134, 18);
  --awsm-color-warning-tone: rgb(181, 111, 16);
  --awsm-color-warning-strong: rgb(157, 96, 12);
  --awsm-color-warning-base: rgb(134, 81, 7);
  --awsm-color-warning-accent: rgb(117, 70, 6);
  --awsm-color-warning-subtle: rgb(95, 56, 4);
  --awsm-color-warning-muted: rgb(69, 39, 2);
  --awsm-color-warning-content: rgb(40, 20, 1);
  --awsm-color-warning-contrast: rgb(255, 255, 255);
  --awsm-color-warning-gamma-50: rgb(252, 233, 216);
  --awsm-color-warning-gamma-100: rgb(254, 196, 136);
  --awsm-color-warning-gamma-200: rgb(253, 159, 31);
  --awsm-color-warning-gamma-300: rgb(216, 134, 18);
  --awsm-color-warning-gamma-400: rgb(181, 111, 16);
  --awsm-color-warning-gamma-500: rgb(157, 96, 12);
  --awsm-color-warning-gamma-600: rgb(134, 81, 7);
  --awsm-color-warning-gamma-700: rgb(117, 70, 6);
  --awsm-color-warning-gamma-800: rgb(95, 56, 4);
  --awsm-color-warning-gamma-900: rgb(69, 39, 2);
  --awsm-color-warning-gamma-950: rgb(40, 20, 1);
  --awsm-color-warning-alpha-50: rgba(137, 83, 13, 0.04);
  --awsm-color-warning-alpha-100: rgba(137, 83, 13, 0.06);
  --awsm-color-warning-alpha-200: rgba(137, 83, 13, 0.08);
  --awsm-color-warning-alpha-300: rgba(137, 83, 13, 0.12);
  --awsm-color-warning-alpha-400: rgba(137, 83, 13, 0.16);
  --awsm-color-warning-alpha-500: rgba(137, 83, 13, 0.24);
  --awsm-color-warning-alpha-600: rgba(137, 83, 13, 0.36);
  --awsm-color-warning-alpha-700: rgba(137, 83, 13, 0.48);
  --awsm-color-warning-alpha-800: rgba(137, 83, 13, 0.64);
  --awsm-color-warning-alpha-900: rgba(137, 83, 13, 0.8);
  --awsm-color-warning-alpha-950: rgba(137, 83, 13, 0.92);
  --awsm-color-alert-backdrop: rgb(253, 231, 227);
  --awsm-color-alert-surface: rgb(255, 190, 180);
  --awsm-color-alert-soft: rgb(255, 145, 128);
  --awsm-color-alert-border: rgb(255, 78, 63);
  --awsm-color-alert-tone: rgb(243, 0, 15);
  --awsm-color-alert-strong: rgb(212, 0, 10);
  --awsm-color-alert-base: rgb(181, 0, 7);
  --awsm-color-alert-accent: rgb(158, 0, 6);
  --awsm-color-alert-subtle: rgb(130, 0, 3);
  --awsm-color-alert-muted: rgb(95, 0, 3);
  --awsm-color-alert-content: rgb(56, 0, 1);
  --awsm-color-alert-contrast: rgb(255, 255, 255);
  --awsm-color-alert-gamma-50: rgb(253, 231, 227);
  --awsm-color-alert-gamma-100: rgb(255, 190, 180);
  --awsm-color-alert-gamma-200: rgb(255, 145, 128);
  --awsm-color-alert-gamma-300: rgb(255, 78, 63);
  --awsm-color-alert-gamma-400: rgb(243, 0, 15);
  --awsm-color-alert-gamma-500: rgb(212, 0, 10);
  --awsm-color-alert-gamma-600: rgb(181, 0, 7);
  --awsm-color-alert-gamma-700: rgb(158, 0, 6);
  --awsm-color-alert-gamma-800: rgb(130, 0, 3);
  --awsm-color-alert-gamma-900: rgb(95, 0, 3);
  --awsm-color-alert-gamma-950: rgb(56, 0, 1);
  --awsm-color-alert-alpha-50: rgba(188, 0, 7, 0.04);
  --awsm-color-alert-alpha-100: rgba(188, 0, 7, 0.06);
  --awsm-color-alert-alpha-200: rgba(188, 0, 7, 0.08);
  --awsm-color-alert-alpha-300: rgba(188, 0, 7, 0.12);
  --awsm-color-alert-alpha-400: rgba(188, 0, 7, 0.16);
  --awsm-color-alert-alpha-500: rgba(188, 0, 7, 0.24);
  --awsm-color-alert-alpha-600: rgba(188, 0, 7, 0.36);
  --awsm-color-alert-alpha-700: rgba(188, 0, 7, 0.48);
  --awsm-color-alert-alpha-800: rgba(188, 0, 7, 0.64);
  --awsm-color-alert-alpha-900: rgba(188, 0, 7, 0.8);
  --awsm-color-alert-alpha-950: rgba(188, 0, 7, 0.92);
  --awsm-color-content-strong: rgb(24, 26, 27);
  --awsm-color-content-regular: rgb(45, 47, 49);
  --awsm-color-content-subtle: rgb(79, 83, 85);
  --awsm-color-content-muted: rgb(108, 113, 116);
  --awsm-color-background-regular: rgb(255, 255, 255);
  --awsm-color-background-subtle: rgb(236, 237, 237);
  --awsm-color-background-muted: rgb(207, 209, 211);
}

:root[data-theme="dark"], [data-theme="dark"] {
  --awsm-color-neutral-backdrop: rgb(9, 10, 11);
  --awsm-color-neutral-surface: rgb(20, 21, 23);
  --awsm-color-neutral-soft: rgb(35, 38, 40);
  --awsm-color-neutral-border: rgb(50, 54, 56);
  --awsm-color-neutral-tone: rgb(68, 72, 75);
  --awsm-color-neutral-strong: rgb(107, 113, 117);
  --awsm-color-neutral-base: rgb(85, 90, 93);
  --awsm-color-neutral-accent: rgb(127, 134, 137);
  --awsm-color-neutral-subtle: rgb(156, 164, 169);
  --awsm-color-neutral-muted: rgb(195, 198, 201);
  --awsm-color-neutral-content: rgb(229, 230, 231);
  --awsm-color-neutral-contrast: rgb(255, 255, 255);
  --awsm-color-neutral-gamma-50: rgb(9, 10, 11);
  --awsm-color-neutral-gamma-100: rgb(20, 21, 23);
  --awsm-color-neutral-gamma-200: rgb(35, 38, 40);
  --awsm-color-neutral-gamma-300: rgb(50, 54, 56);
  --awsm-color-neutral-gamma-400: rgb(68, 72, 75);
  --awsm-color-neutral-gamma-500: rgb(85, 90, 93);
  --awsm-color-neutral-gamma-600: rgb(107, 113, 117);
  --awsm-color-neutral-gamma-700: rgb(127, 134, 137);
  --awsm-color-neutral-gamma-800: rgb(156, 164, 169);
  --awsm-color-neutral-gamma-900: rgb(195, 198, 201);
  --awsm-color-neutral-gamma-950: rgb(229, 230, 231);
  --awsm-color-neutral-alpha-50: rgba(130, 145, 155, 0.04);
  --awsm-color-neutral-alpha-100: rgba(130, 145, 155, 0.06);
  --awsm-color-neutral-alpha-200: rgba(130, 145, 155, 0.08);
  --awsm-color-neutral-alpha-300: rgba(130, 145, 155, 0.12);
  --awsm-color-neutral-alpha-400: rgba(130, 145, 155, 0.16);
  --awsm-color-neutral-alpha-500: rgba(130, 145, 155, 0.24);
  --awsm-color-neutral-alpha-600: rgba(130, 145, 155, 0.36);
  --awsm-color-neutral-alpha-700: rgba(130, 145, 155, 0.48);
  --awsm-color-neutral-alpha-800: rgba(130, 145, 155, 0.64);
  --awsm-color-neutral-alpha-900: rgba(130, 145, 155, 0.8);
  --awsm-color-neutral-alpha-950: rgba(130, 145, 155, 0.92);
  --awsm-color-accent-backdrop: rgb(1, 9, 28);
  --awsm-color-accent-surface: rgb(2, 19, 49);
  --awsm-color-accent-soft: rgb(4, 34, 81);
  --awsm-color-accent-border: rgb(8, 50, 111);
  --awsm-color-accent-tone: rgb(14, 67, 146);
  --awsm-color-accent-strong: rgb(27, 102, 217);
  --awsm-color-accent-base: rgb(20, 83, 179);
  --awsm-color-accent-accent: rgb(69, 130, 226);
  --awsm-color-accent-subtle: rgb(120, 164, 234);
  --awsm-color-accent-muted: rgb(174, 199, 240);
  --awsm-color-accent-content: rgb(221, 231, 246);
  --awsm-color-accent-contrast: rgb(255, 255, 255);
  --awsm-color-accent-gamma-50: rgb(1, 9, 28);
  --awsm-color-accent-gamma-100: rgb(2, 19, 49);
  --awsm-color-accent-gamma-200: rgb(4, 34, 81);
  --awsm-color-accent-gamma-300: rgb(8, 50, 111);
  --awsm-color-accent-gamma-400: rgb(14, 67, 146);
  --awsm-color-accent-gamma-500: rgb(20, 83, 179);
  --awsm-color-accent-gamma-600: rgb(27, 102, 217);
  --awsm-color-accent-gamma-700: rgb(69, 130, 226);
  --awsm-color-accent-gamma-800: rgb(120, 164, 234);
  --awsm-color-accent-gamma-900: rgb(174, 199, 240);
  --awsm-color-accent-gamma-950: rgb(221, 231, 246);
  --awsm-color-accent-alpha-50: rgba(74, 131, 255, 0.04);
  --awsm-color-accent-alpha-100: rgba(74, 131, 255, 0.06);
  --awsm-color-accent-alpha-200: rgba(74, 131, 255, 0.08);
  --awsm-color-accent-alpha-300: rgba(74, 131, 255, 0.12);
  --awsm-color-accent-alpha-400: rgba(74, 131, 255, 0.16);
  --awsm-color-accent-alpha-500: rgba(74, 131, 255, 0.24);
  --awsm-color-accent-alpha-600: rgba(74, 131, 255, 0.36);
  --awsm-color-accent-alpha-700: rgba(74, 131, 255, 0.48);
  --awsm-color-accent-alpha-800: rgba(74, 131, 255, 0.64);
  --awsm-color-accent-alpha-900: rgba(74, 131, 255, 0.8);
  --awsm-color-accent-alpha-950: rgba(74, 131, 255, 0.92);
  --awsm-color-safe-backdrop: rgb(1, 14, 3);
  --awsm-color-safe-surface: rgb(1, 27, 6);
  --awsm-color-safe-soft: rgb(2, 46, 13);
  --awsm-color-safe-border: rgb(2, 66, 22);
  --awsm-color-safe-tone: rgb(5, 87, 32);
  --awsm-color-safe-strong: rgb(11, 135, 53);
  --awsm-color-safe-base: rgb(5, 108, 41);
  --awsm-color-safe-accent: rgb(16, 159, 64);
  --awsm-color-safe-subtle: rgb(21, 195, 81);
  --awsm-color-safe-muted: rgb(55, 235, 105);
  --awsm-color-safe-content: rgb(192, 247, 198);
  --awsm-color-safe-contrast: rgb(255, 255, 255);
  --awsm-color-safe-gamma-50: rgb(1, 14, 3);
  --awsm-color-safe-gamma-100: rgb(1, 27, 6);
  --awsm-color-safe-gamma-200: rgb(2, 46, 13);
  --awsm-color-safe-gamma-300: rgb(2, 66, 22);
  --awsm-color-safe-gamma-400: rgb(5, 87, 32);
  --awsm-color-safe-gamma-500: rgb(5, 108, 41);
  --awsm-color-safe-gamma-600: rgb(11, 135, 53);
  --awsm-color-safe-gamma-700: rgb(16, 159, 64);
  --awsm-color-safe-gamma-800: rgb(21, 195, 81);
  --awsm-color-safe-gamma-900: rgb(55, 235, 105);
  --awsm-color-safe-gamma-950: rgb(192, 247, 198);
  --awsm-color-safe-alpha-50: rgba(40, 169, 78, 0.04);
  --awsm-color-safe-alpha-100: rgba(40, 169, 78, 0.06);
  --awsm-color-safe-alpha-200: rgba(40, 169, 78, 0.08);
  --awsm-color-safe-alpha-300: rgba(40, 169, 78, 0.12);
  --awsm-color-safe-alpha-400: rgba(40, 169, 78, 0.16);
  --awsm-color-safe-alpha-500: rgba(40, 169, 78, 0.24);
  --awsm-color-safe-alpha-600: rgba(40, 169, 78, 0.36);
  --awsm-color-safe-alpha-700: rgba(40, 169, 78, 0.48);
  --awsm-color-safe-alpha-800: rgba(40, 169, 78, 0.64);
  --awsm-color-safe-alpha-900: rgba(40, 169, 78, 0.8);
  --awsm-color-safe-alpha-950: rgba(40, 169, 78, 0.92);
  --awsm-color-info-backdrop: rgb(1, 11, 23);
  --awsm-color-info-surface: rgb(1, 23, 39);
  --awsm-color-info-soft: rgb(1, 40, 64);
  --awsm-color-info-border: rgb(0, 57, 90);
  --awsm-color-info-tone: rgb(1, 76, 118);
  --awsm-color-info-strong: rgb(0, 119, 180);
  --awsm-color-info-base: rgb(0, 95, 145);
  --awsm-color-info-accent: rgb(2, 140, 212);
  --awsm-color-info-subtle: rgb(72, 172, 240);
  --awsm-color-info-muted: rgb(155, 204, 243);
  --awsm-color-info-content: rgb(215, 233, 247);
  --awsm-color-info-contrast: rgb(255, 255, 255);
  --awsm-color-info-gamma-50: rgb(1, 11, 23);
  --awsm-color-info-gamma-100: rgb(1, 23, 39);
  --awsm-color-info-gamma-200: rgb(1, 40, 64);
  --awsm-color-info-gamma-300: rgb(0, 57, 90);
  --awsm-color-info-gamma-400: rgb(1, 76, 118);
  --awsm-color-info-gamma-500: rgb(0, 95, 145);
  --awsm-color-info-gamma-600: rgb(0, 119, 180);
  --awsm-color-info-gamma-700: rgb(2, 140, 212);
  --awsm-color-info-gamma-800: rgb(72, 172, 240);
  --awsm-color-info-gamma-900: rgb(155, 204, 243);
  --awsm-color-info-gamma-950: rgb(215, 233, 247);
  --awsm-color-info-alpha-50: rgba(43, 150, 222, 0.04);
  --awsm-color-info-alpha-100: rgba(43, 150, 222, 0.06);
  --awsm-color-info-alpha-200: rgba(43, 150, 222, 0.08);
  --awsm-color-info-alpha-300: rgba(43, 150, 222, 0.12);
  --awsm-color-info-alpha-400: rgba(43, 150, 222, 0.16);
  --awsm-color-info-alpha-500: rgba(43, 150, 222, 0.24);
  --awsm-color-info-alpha-600: rgba(43, 150, 222, 0.36);
  --awsm-color-info-alpha-700: rgba(43, 150, 222, 0.48);
  --awsm-color-info-alpha-800: rgba(43, 150, 222, 0.64);
  --awsm-color-info-alpha-900: rgba(43, 150, 222, 0.8);
  --awsm-color-info-alpha-950: rgba(43, 150, 222, 0.92);
  --awsm-color-warning-backdrop: rgb(18, 7, 1);
  --awsm-color-warning-surface: rgb(33, 16, 1);
  --awsm-color-warning-soft: rgb(56, 30, 1);
  --awsm-color-warning-border: rgb(78, 44, 2);
  --awsm-color-warning-tone: rgb(103, 60, 3);
  --awsm-color-warning-strong: rgb(157, 96, 9);
  --awsm-color-warning-base: rgb(126, 76, 7);
  --awsm-color-warning-accent: rgb(185, 114, 13);
  --awsm-color-warning-subtle: rgb(227, 140, 18);
  --awsm-color-warning-muted: rgb(255, 179, 93);
  --awsm-color-warning-content: rgb(252, 225, 199);
  --awsm-color-warning-contrast: rgb(255, 255, 255);
  --awsm-color-warning-gamma-50: rgb(18, 7, 1);
  --awsm-color-warning-gamma-100: rgb(33, 16, 1);
  --awsm-color-warning-gamma-200: rgb(56, 30, 1);
  --awsm-color-warning-gamma-300: rgb(78, 44, 2);
  --awsm-color-warning-gamma-400: rgb(103, 60, 3);
  --awsm-color-warning-gamma-500: rgb(126, 76, 7);
  --awsm-color-warning-gamma-600: rgb(157, 96, 9);
  --awsm-color-warning-gamma-700: rgb(185, 114, 13);
  --awsm-color-warning-gamma-800: rgb(227, 140, 18);
  --awsm-color-warning-gamma-900: rgb(255, 179, 93);
  --awsm-color-warning-gamma-950: rgb(252, 225, 199);
  --awsm-color-warning-alpha-50: rgba(194, 125, 32, 0.04);
  --awsm-color-warning-alpha-100: rgba(194, 125, 32, 0.06);
  --awsm-color-warning-alpha-200: rgba(194, 125, 32, 0.08);
  --awsm-color-warning-alpha-300: rgba(194, 125, 32, 0.12);
  --awsm-color-warning-alpha-400: rgba(194, 125, 32, 0.16);
  --awsm-color-warning-alpha-500: rgba(194, 125, 32, 0.24);
  --awsm-color-warning-alpha-600: rgba(194, 125, 32, 0.36);
  --awsm-color-warning-alpha-700: rgba(194, 125, 32, 0.48);
  --awsm-color-warning-alpha-800: rgba(194, 125, 32, 0.64);
  --awsm-color-warning-alpha-900: rgba(194, 125, 32, 0.8);
  --awsm-color-warning-alpha-950: rgba(194, 125, 32, 0.92);
  --awsm-color-alert-backdrop: rgb(27, 1, 1);
  --awsm-color-alert-surface: rgb(47, 2, 2);
  --awsm-color-alert-soft: rgb(76, 3, 3);
  --awsm-color-alert-border: rgb(104, 6, 6);
  --awsm-color-alert-tone: rgb(137, 10, 10);
  --awsm-color-alert-strong: rgb(208, 20, 21);
  --awsm-color-alert-base: rgb(168, 14, 15);
  --awsm-color-alert-accent: rgb(244, 27, 23);
  --awsm-color-alert-subtle: rgb(255, 105, 87);
  --awsm-color-alert-muted: rgb(255, 172, 161);
  --awsm-color-alert-content: rgb(253, 222, 217);
  --awsm-color-alert-contrast: rgb(255, 255, 255);
  --awsm-color-alert-gamma-50: rgb(27, 1, 1);
  --awsm-color-alert-gamma-100: rgb(47, 2, 2);
  --awsm-color-alert-gamma-200: rgb(76, 3, 3);
  --awsm-color-alert-gamma-300: rgb(104, 6, 6);
  --awsm-color-alert-gamma-400: rgb(137, 10, 10);
  --awsm-color-alert-gamma-500: rgb(168, 14, 15);
  --awsm-color-alert-gamma-600: rgb(208, 20, 21);
  --awsm-color-alert-gamma-700: rgb(244, 27, 23);
  --awsm-color-alert-gamma-800: rgb(255, 105, 87);
  --awsm-color-alert-gamma-900: rgb(255, 172, 161);
  --awsm-color-alert-gamma-950: rgb(253, 222, 217);
  --awsm-color-alert-alpha-50: rgba(251, 62, 40, 0.04);
  --awsm-color-alert-alpha-100: rgba(251, 62, 40, 0.06);
  --awsm-color-alert-alpha-200: rgba(251, 62, 40, 0.08);
  --awsm-color-alert-alpha-300: rgba(251, 62, 40, 0.12);
  --awsm-color-alert-alpha-400: rgba(251, 62, 40, 0.16);
  --awsm-color-alert-alpha-500: rgba(251, 62, 40, 0.24);
  --awsm-color-alert-alpha-600: rgba(251, 62, 40, 0.36);
  --awsm-color-alert-alpha-700: rgba(251, 62, 40, 0.48);
  --awsm-color-alert-alpha-800: rgba(251, 62, 40, 0.64);
  --awsm-color-alert-alpha-900: rgba(251, 62, 40, 0.8);
  --awsm-color-alert-alpha-950: rgba(251, 62, 40, 0.92);
  --awsm-color-content-strong: rgb(255, 255, 255);
  --awsm-color-content-regular: rgb(229, 230, 231);
  --awsm-color-content-subtle: rgb(156, 164, 169);
  --awsm-color-content-muted: rgb(127, 134, 137);
  --awsm-color-background-regular: rgb(0, 0, 0);
  --awsm-color-background-subtle: rgb(9, 10, 11);
  --awsm-color-background-muted: rgb(20, 21, 23);
}

