---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import Content from '../../components/Content.astro';
import SectionNav from '../../components/SectionNav.astro';

import { Content as PageContent } from '../../data/pages/core.mdx';

export const COLLECTION = 'core';

const entries = await getCollection(COLLECTION);
const sectionEntries = entries.map((item) => {
  return {
    slug: `${COLLECTION}/${item.slug}`,
    title: item.data.title,
  };
});
---

<Layout title="Core" section={COLLECTION}>
  <Content>
    <h1>Core</h1>

    <PageContent />

    <SectionNav data={sectionEntries} />
  </Content>
</Layout>
