.root {
  position: fixed;
  bottom: 20vh;
  left: 20vw;
  right: 20vw;
  z-index: 2;

  display: flex;
  flex-direction: row;
  gap: var(--awsm-space-8);
  align-items: center;
  justify-content: center;
}
