.example {
  background: var(--awsm-color-neutral-backdrop);
  border: var(--awsm-space-px) solid var(--awsm-color-accent-border);
  border-radius: var(--awsm-radius-n);
  overflow: auto;
}

.content {
  padding: var(--awsm-space-8);
  overflow: auto;
}

.code {
  margin-block-start: var(--awsm-space-1);
}

@keyframes loadingAnimation {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--awsm-space-2);
  margin: var(--awsm-space-8) 0;
  opacity: 1;
  animation: loadingAnimation;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.loading_actions,
.loading_body {
  display: block;
  background: var(--awsm-color-neutral-soft);
  border-radius: var(--awsm-radius-s);
}

.loading_actions {
  flex: 0 1 auto;
  width: 30%;
  height: 2rem;
}

.loading_body {
  flex: 1 1 auto;
  width: 100%;
  height: 8rem;
}
