@import "@ds-starter/fonts/css/fonts.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #010101;

  font-family: var(--awsm-font-family-main), var(--awsm-font-family-fallback);
}

#root > main {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  min-width: 560px;
  min-height: 620px;
  overflow: auto;
}
